/* ================================
   DETALLE DE CANCIÓN
================================ */
.fondo-detalle {
  background-color: var(--color-surface);
}

.texto-detalle {
  color: var(--color-primary);
}

.texto {
  color: var(--color-success) !important;
}

.detalleImg {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}